<h1>Compose your message</h1>

<% semantic_form_for @message do |f| %>
  <%= f.error_messages %>
  <%= f.input :to %>
  <%= f.input :recipient_id, :as => :hidden %>
  <%= f.input :subject %>
  <%= f.input :body %>
  <%= f.buttons %>
<% end %>
