<h1>Compose your message</h1>

<% semantic_form_for @message do |f| %>
  <% f.inputs do  %>
    <%= f.error_messages %>
    <%= f.input :to, :hint => 'Type "Jo"' %>
    <%= f.input :recipient_id, :as => :hidden %>
    <%= f.input :subject %>
    <%= f.input :body %>
  <% end %>
<% end %>
